$bg-url: '/assets/bg.jpg';

html {
    font-size: 19px;

    @media (max-width: 767px) {
        font-size: 14px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgba($color: #000000, $alpha: 0.7);
    font-size: 1rem;
    background: url($bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.25;
}
